[Unit]
Description=Display service

[Service]
Environment="HOME=/home/chrome"
ExecStart=/usr/bin/startx
SyslogIdentifier=xserver

[Install]
WantedBy=multi-user.target
